[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-countries = "*"
psycopg2-binary = "*"
django = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
drf-yasg = "*"
django-rest-swagger= "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
